<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='CSS/index/admin.css') }}"/>
    <link
    rel="icon"
    href="{{url_for('static',filename='images/logo.png')}}"
    type="image/icon type"
  /> 
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <title>Approved Applications</title>
</head>
<body>
    {% for item in list %}
    <a href="/approved_view/{{ item.sno }}/{{ item.slug }}" style="text-decoration: none;">
        <div class="app-cards mx-auto">
            <h5 >{{ item.name }}</h5>
            <p>{{ item.contact }}</p>
            <p>{{ item.services }}</p>
        </div>
    </a> 
    {% endfor %}
</body>
</html>