<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plantation Crops</title>
    <link
      rel="icon"
      href="{{url_for('static',filename='images/logo.png')}}"
      type="image/icon type"
    />  
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
    crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='CSS/spices/Plantation_cropes.css') }}">

  <body>
    <!-- 
    <div class="container">
      <div class="row " style="font-family: Cocogoose">

          <div class="col-lg-4">
            <img src="{{url_for('static',filename='images/p1.svg')}}" id="asd" />
          </div>
          <div class="col-lg-8  txts" ;>
            <h2 >Pallivasal Tea Factory</h2>
            <h5 >address :</h5>
            <h5 >contact no :</h5>
          </div>
        <div class="sect">
          <div class="col-lg-4 text-center">
            <img src="{{url_for('static',filename='images/p2.svg')}}" id="asd" />
          </div>

          <div class="col-lg-8">
            <h3 style="font-size: 50px">Shibu Cardamom Farms</h3>
            <h5 style="font-size: 40px">address :</h5>
            <h5 style="font-size: 40px">contact no :</h5>
          </div>
        </div>
        <div class="sect">
          <div class="col-lg-4">
            <img src="{{url_for('static',filename='images/p3.svg')}}" id="asd" />
          </div>

          <div class="col-lg-8 text-left">
            <h3 style="font-size: 50px">Jamesh Mulberry Farms</h3>
            <h5 style="font-size: 40px">address :</h5>
            <h5 style="font-size: 40px">contact no :</h5>
          </div>
        </div>
        
      </div>
    </div> -->

    <h1 id="headng">
      Plantation Crops
    </h1>
  <div class="container">
    <div class="row">
      <div class="parent">
        <div class="sec">
          <div class="imgs">
            <img src="{{url_for('static',filename='images/p1.svg')}}" class="asd" />
          </div>
          <div class="contents" ;>
            <h2 >Pallivasal Tea Factory</h2>
            <h5 >address :</h5>
            <h5 >contact no :</h5>
          </div>
        </div>
      <!-- </div> -->

      <!-- <div class="parent"> -->
        <div class="sec">
          <div class="imgs">
            <img src="{{url_for('static',filename='images/p2.svg')}}" class="asd" />
          </div>
          <div class="contents" ;>
            <h2 >Shibu Cardamom Farms</h2>
            <h5 >address :</h5>
            <h5 >contact no :</h5>
          </div>
        </div>
      <!-- </div> -->

      <!-- <div class="parent"> -->
        <div class="sec">
          <div class="imgs">
            <img src="{{url_for('static',filename='images/p1.svg')}}" class="asd" />
          </div>
          <div class="contents" ;>
            <h2 >Pallivasal Tea Factory</h2>
            <h5 >address :</h5>
            <h5 >contact no :</h5>
          </div>
        </div>
      </div>
      
    </div>
  </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
  </body>
</html>



<!DOCTYPE html>

  <title>Document</title>
</head>
<body>
  
</body>
</html>